<!--
Name: Stevenson Suhardy
Date: November 21, 2022
Student ID: 100839397
-->

@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Your password has been reset.</h2>
        <a class="btn btn-primary btn-sm active" href="~/Account/Login">Click here to go to login page.</a>
    </div>
</div>


