<!--
Name: Stevenson Suhardy
Date: November 21, 2022
Student ID: 100839397
-->
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>

<head>
    <title>Welcome to Product and Seller Website!</title>
</head>

<body>
    <!-- Using div to make a nav bar -->
    <div class="container-fluid">
        <div class="list-group list-group-horizontal">
            <a class="list-group-item list-group-item-action active" aria-current="true" href="~/Home/Index">Home</a>
            <a class="list-group-item list-group-item-action" href="~/Products">Manage Products</a>
            <a class="list-group-item list-group-item-action" href="~/Sellers">Manage Sellers</a>
        </div>
    </div>
    <hr />
    <!-- Home page -->
    <div class="container-fluid">
        <h1 class="h1">Welcome to My Website!</h1>
        <hr />
        <h2 class="h2">About</h2>
        <p class="p-3">This website is created using Entity Framework Core version 5.0.17 and it is created to fulfill the requirements for NETD3202 course at Durham College. Feel free to mess around the functionality of the website.</p>
    </div>
</body>
</html>